blur-effect()  
  -webkit-filter blur(arguments)
  -moz-filter blur(arguments)
  -o-filter blur(arguments)
  -ms-filter blur(arguments)
  filter blur(arguments)
  
body-text-holder()
  width auto
  p, li, a, span
    padding 40px 160px
    text-align center
    font-size 150%
    font-family Helvetica, serif
  li
    font-size 120%

bgl()
  margin 2% 0
  background-color rgba(180, 180, 180, 0.6)
  color rgba(45, 45, 45, 1)
  
bgd()
  background-color rgba(45, 45, 45, 0.8)
  color rgba(180, 180, 180, 1)
  
tooltip()
  background #333
  border-radius 4px
  bottom 26px
  color #fff
  content attr(title)
  left 20%
  padding 15px 15px
  z-index 100
  width 220px

body
  display none
  margin-left auto
  margin-right auto
  background-color grey

h2
  text-align center
  font-size 200%
  padding 10px
  font-family Helvetica, sans-serif

p
  font-size 175%

.poster
  img
    width 100%
    min-height 800px
    margin-top -10px //fix for backstretch
    
.bg
  position fixed
  background-image url("boarding-gate.jpg")
  background-color rgba(0,0,0,0.5)
  blur-effect(7px)
  z-index -1
  
.title
  text-align center
  opacity 0.8
  margin-top -1%
  top 0
  margin-left auto
  margin-right auto
  padding-top 10px
  padding-bottom 25px
  width 100%
  background-color #00bfff
  font-family Helvetica, cursive
  h1
    font-size 250%
  a
    font-size 125%
    padding 10px
    text-decoration none
    color orange
    border 2px solid darkorange
    border-radius 5px
    margin 10px
  a:hover
    color yellow
    border 2px solid orange
    background-color darkorange
  #trailer:hover
    color white
    background-color grey
    
.before-dom-ready
  z-index 1 !important
  top 0

.synopsis
  bgl()
  body-text-holder()
  p
    margin-top -40px
  
.info
  body-text-holder()
  bgd()
 
 #firstInfo
   margin-top 150px
.cast-holder
  height 480px
  padding-bottom 80px  
  h2
    bgl()
    

.left
  width auto
  float left
  margin-left 15%
  
.right
  width auto
  float right
  margin-right 20%
  
.cast
  bgl()
  body-text-holder()
  margin auto
  width 370px
  border-radius 5px
  list-style none
  padding 5px
  li
    padding 5px

.tickets
  bgd()
  body-text-holder()
  span
    font-size 110%
  a
    color orange
    font-size inherit
    text-decoration none
    padding 5px
  p
    padding 5px

.map
  bgl()
  body-text-holder()
  p
    padding-bottom 0px

footer p
  visibility hidden
  font-size 100%
  background-color rgba(0, 0, 0, 0.5)
  text-align center
  
.stickit
  position fixed

.tooltip
  display inline
  position relative

.tooltip:hover:after
  tooltip()

.tooltip:active
  tooltip()